<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Coronavirus Tracker</h1>
    <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/2019%E2%80%9320_coronavirus_pandemic" role="button">Wiki Coronavirus Pandemic &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Symptoms</h2>
      <p>People may be sick with the virus for 1 to 14 days before developing symptoms. The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness, and dry cough. Most people (about 80%) recover from the disease without needing special treatment.</p>
      <p>More rarely, the disease can be serious and even fatal. Older people, and people with other medical conditions (such as asthma, diabetes, or heart disease), may be more vulnerable to becoming severely ill.</p>
      <p>People may experience:</p>
      <ul>
        <li>cough</li>
        <li>fever</li>
        <li>tiredness</li>
        <li>difficulty breathing (severe cases)</li>
      </ul>
      <p><a class="btn btn-secondary" href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" role="button">Symptoms of Coronavirus &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Prevention</h2>
      <p>There’s currently no vaccine to prevent coronavirus disease (COVID-19).</p>
      <p>Do:</p>
      <ul>
        <li>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub</li>
        <li>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze</li>
        <li>Avoid close contact (1 meter or 3 feet) with people who are unwell</li>
        <li>Stay home and self-isolate from others in the household if you feel unwell</li>
      </ul>
      <p>Don't:</p>
      <ul>
        <li>Touch your eyes, nose, or mouth if your hands are not clean</li>
      </ul>
      <p><a class="btn btn-secondary" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html" role="button">How to Protect Yourself &amp; Others &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Treatments</h2>
      <p>There is no specific medicine to prevent or treat coronavirus disease (COVID-19). People may need supportive care to help them breathe.</p>
      <p>Self care</p>
      <p>If you have mild symptoms, stay at home until you’ve recovered. You can relieve your symptoms if you:</p>
      <ul>
        <li>rest and sleep</li>
        <li>keep warm</li>
        <li>drink plenty of liquids</li>
        <li>use a room humidifier or take a hot shower to help ease a sore throat and cough</li>
      </ul>
      <p>Medical Treatments</p>
      <p>If you develop a fever, cough, and have difficulty breathing, promptly seek medical care. Call in advance and tell your health provider of any recent travel or recent contact with travelers.</p>
      <p><a class="btn btn-secondary" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters" role="button">Treatment Myth Busting &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
