<div class="container">
  <h2>Coronavirus Case List</h2>
  <div class="loading spinner-boarder text-success" *ngIf="isLoadingResults">
    <span class="sr-only">Loading...</span>
  </div>
  <button type="button" class="btn btn-primary"><a class="btn btn-secondary" [routerLink]="['/cases-add']" role="button">Add new case <i class="far fa-user"></i></a></button>
  <button type="button" class="btn btn-primary"><a class="btn btn-secondary" [routerLink]="['/statistics']" role="button">Statistics <i class="far fa-chart-bar"></i></a></button>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Address</th>
          <th>City</th>
          <th>Country</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of data">
          <th>{{ data._id }}</th>
          <td>{{ data.name }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.city }}</td>
          <td>{{ data.country }}</td>
          <td>{{ data.status | uppercase }}</td>
          <td>
            <a [routerLink]="['/cases-details/', data._id]">
              <i class="fas fa-info"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

