<div class="container">
  <h2>Edit case</h2>
  <div class="loading spinner-boarder text-success" *ngIf="isLoadingResults">
    <span class="sr-only">Loading...</span>
  </div>
  <div>
    <form [formGroup]="casesForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="first_name" formControlName="first_name">
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="last_name" formControlName="last_name">
      </div>
      <div class="form-group">
        <label>Gender</label>
        <select formControlName="gender">
          <option *ngFor="let gl of genderList" [value]="gl">
            {{ gl }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control" placeholder="Age" [(ngModel)]="age" formControlName="age">
      </div>
      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" placeholder="Country" [(ngModel)]="country" formControlName="country">
      </div>
      <div class="form-group">
        <label>Status</label>
        <input type="text" class="form-control" placeholder="Status" [(ngModel)]="status" formControlName="status">
      </div>
      <input type="submit" value="Edit" class="btn btn-primary">
    </form>
  </div>
</div>


